@font-face {
    font-family: GothamBold;
    src: url("../fonts/Gotham-Bold.otf.odft")format("opentype");
}

@font-face {
    font-family: 'GothamLight';
    src: url("../fonts/Gotham-Light.otf.odft")format("opentype");
}

html, body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}

body {
    background-image: url("../images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(162, 123, 247, 0.2);
    border-radius: 10px;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #d7c5ff;
    border-radius: 10px;
    -webkit-height: 10px;
    height: 10px;
}

.header {
    display: flex;
    justify-content: center;
    max-height: 30vh;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.header img {
    height: 30vh;
    width: auto;
}

.logo {
    position: absolute;
    top: 4vh;
    right: 4vh;
}

.logo img {
    height: 70px;
    width: auto;
}

/*  .title {
    font-size: 40px;
    text-transform: uppercase;
    color: #a27bf7;
    font-family: GothamBold;
    padding-left: 2vw;
} */

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
    margin-left: 3vw;
    max-height: 60vh;
}

.content a {
    text-decoration: none;
    color: #d7c5ff;
    font-family: GothamBold;
}

.cluster-list > div {
    padding: 10px;
    padding-left: 5%;
    transition: all 0.2s ease-in;
    opacity: 0.4;
    cursor: pointer;
}

.cluster-list {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    min-width: 50%;
    text-align: left;
    margin-left: 5vw;
    padding-bottom: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 60vh;
    direction: rtl;
}

.event-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    text-align: left;
    margin-right: 2vw;
    padding-left: 5%;
    width: 60vw;
    height: 60vh;
}

@media only screen and (max-device-width: 768px) {
    .header {
        font-size: 30px;
        border: none;
        margin-top: 80px;
    }

    .logo img {
        width: auto;
        height: 50px;
    }

    .header img {
        height: 20vh;
        width: auto;
    }

    .content {
        flex-direction: column-reverse;
        max-height: 60vh;
    }

    .event-list {
        display: none;
    }

    .cluster-list {
        width: 90vw;
        height: 100%;
        font-size: 35px;
        padding-bottom: 0px;
        margin-top: 2vh;
    }

    .cluster-list > div {
        padding: 5px;
        padding-left: 5%;
    }

    .mobile-event-list div {
        font-size: 20px;
        padding: 5px;
    }

    .mobile-event-list a {
        color: white;
    }
}