* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'GothamBold';
  src: url(../fonts/Gotham-Bold.otf.odft) format('truetype');
}

@font-face {
  font-family: 'GothamUltra';
  src: url(../fonts/gotham-ultra.ttf) format('truetype');
}


@font-face {
  font-family: 'GothamMedium';
  src: url(../fonts/GothamMedium.ttf) format('truetype');
}

html,
body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  /* background-color: black; */
  /* background-image: url(../images/preview1.jpg); */
}

.video-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4));
  /* z-index: 2; */
}
video {
  object-fit: cover;
  width: 100vw;
  height: 102vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.items-container{
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 4vh;
  top:4vh;
  align-items: center;
  z-index:1
}
.menu-items-container{
  display: flex;
  flex-direction: row;
  visibility: hidden;
  z-index: 3;
  /* transition: all .2s ease; */
}
.inner-item
{
  margin: 10px;
  font-size: 1.5em;
  transition: all .2s ease;
}

.inner-item a{
  font-family: 'GothamBold';
  text-shadow: 0 5.36px 8.896px #10100f;
}

.inner-item:hover{
  transform: scale(1.1);
}

.pragyan-logo-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 4vw;
  bottom: 15vh;
}

.landing-logo{
  width: 400px;
}
.pragyan-theme{
  color: white;
  margin: 0px;
  font-family: 'GothamUltra';
  font-size: 5em;
  font-weight: 1000;
}

.metaverse-desk{
  font-size: 6em !important;
}

.metaverse-mobile{
  display: none;
}
.p21-fab-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 5vh;
  right: 2vw;
  overflow: hidden;
  transition: all .2s ease-in;
}

.p21-fab{
  width: 100px;
  cursor: pointer;
}

.p21-loader{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #333;
}


.loader-image {
  position: fixed;
  top:50%;
  left:50%;
  z-index: 999999;
  transform: translate(-50%,-50%);
}
.loader-cw{
  animation: clockwise 1s infinite;
}
.loader-ccw{
  animation: counterClockwise 1s infinite;
}
@keyframes clockwise {
  from {
    transform:rotate(180deg);
  }
  to {
    transform:rotate(360deg);
  }
}
@keyframes counterClockwise {
  from {
    transform:rotate(180deg);
  }
  to {
    transform:rotate(0deg);
  }
}


.footer {
  width: 100vw;
  height: auto;
  position: absolute;
  bottom: 0.2vh;
  text-align: center;
  font-size: 1.5em;
  font-family: 'GothamMedium';
  font-size: 1em;
}

a {
  color: white;
  text-decoration: none;
}

.social-media {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    /* visibility: hidden; */
    display: none;
    text-align: center;
    background: #00000094;
    padding-top: 15px;
    padding-bottom: 29px;
    position: relative;
    width: 74px;
    bottom: -50px;
    /* border-radius: 999px; */
    margin: 0 auto;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
}

.social-media.sm-down {
  padding-bottom: 0px;
  /* background-color: transparent; */
}

.sm-active{
  visibility: visible !important;
}

.fab {
  padding: 1.4vh;
  color: white;
  font-size: 1.5em;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  z-index: 999999;
}

.desktop{
  display: block;
}

.mobile{
  display: none;
}


.footer {
  width: 100vw;
  height: auto;
  position: absolute;
  bottom: 0.2vh;
  font-size: 1em;
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}

#heart {
  color: red;
  font-size: 2em;
  vertical-align: middle;
}

@media screen and (max-width:728px){
  /* .mobile{
    display: block;
  }
  .mobile img{
    width: 100%;
  }
  .desktop{
    display:none;
  } */

  body {
    background-image: url(../images/bg-mobile.jpg);
    background-size: cover;
  }

  video {
    display: none;
  }

  /* #social-media {
    visibility: hidden;
  } */

  .items-container{
    flex-direction: column;
    right: 1vh;
  }

  .plus-icon{
    align-self: flex-end;
  }
  .menu-items-container{
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
  }

  .inner-item{
    font-size: 1em;
    margin: 2px;
  }
  
  .pragyan-logo-container{
    left: 50%;
    top: 50%;
    bottom: initial;
    transform: translate(-50%,-50%);
    align-items: center;
  }
  .pragyan-logo-container h1{
    font-family: 'GothamUltra';
  }
  .landing-logo{
    width: 200px;
  }
  .pragyan-theme{
    font-size: 4em;
    font-weight: 900;
    margin: 0px;
  }
  .metaverse-mobile {
    display: block;
    font-size: 3em !important;
  }
  .metaverse-desk{
    display: none;
  }
  .p21-fab{
    width: 75px;
  }

  .footer{
    font-size: 0.7em;
  }
  
}


/* Navbar scrollbar */

#mySidenav::-webkit-scrollbar {
  background-color: #fff;
  width: 6px
}


#mySidenav::-webkit-scrollbar-track {
  background-color: grey;
  width: 2px;
}

#mySidenav::-webkit-scrollbar-track:hover {
  background-color: dimgray
}

#mySidenav::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #fff
}

#mySidenav::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4
}

#mySidenav::-webkit-scrollbar-button {
  display: none
}


/* Glitch effect */
.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: 0.1em;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(8px, 9999px, 12px, 0);
    transform: skew(0.53deg);
  }
  5% {
    clip: rect(85px, 9999px, 95px, 0);
    transform: skew(0.19deg);
  }
  10% {
    clip: rect(14px, 9999px, 95px, 0);
    transform: skew(0.76deg);
  }
  15% {
    clip: rect(89px, 9999px, 27px, 0);
    transform: skew(0.93deg);
  }
  20% {
    clip: rect(38px, 9999px, 17px, 0);
    transform: skew(0.26deg);
  }
  25% {
    clip: rect(99px, 9999px, 51px, 0);
    transform: skew(0.69deg);
  }
  30% {
    clip: rect(70px, 9999px, 17px, 0);
    transform: skew(0.54deg);
  }
  35% {
    clip: rect(22px, 9999px, 91px, 0);
    transform: skew(0.24deg);
  }
  40% {
    clip: rect(85px, 9999px, 50px, 0);
    transform: skew(0.47deg);
  }
  45% {
    clip: rect(61px, 9999px, 85px, 0);
    transform: skew(0.1deg);
  }
  50% {
    clip: rect(17px, 9999px, 65px, 0);
    transform: skew(0.01deg);
  }
  55% {
    clip: rect(33px, 9999px, 33px, 0);
    transform: skew(0.93deg);
  }
  60% {
    clip: rect(94px, 9999px, 18px, 0);
    transform: skew(0.7deg);
  }
  65% {
    clip: rect(56px, 9999px, 68px, 0);
    transform: skew(0.2deg);
  }
  70% {
    clip: rect(36px, 9999px, 69px, 0);
    transform: skew(0.28deg);
  }
  75% {
    clip: rect(97px, 9999px, 60px, 0);
    transform: skew(0.47deg);
  }
  80% {
    clip: rect(44px, 9999px, 3px, 0);
    transform: skew(0.53deg);
  }
  85% {
    clip: rect(99px, 9999px, 2px, 0);
    transform: skew(0.98deg);
  }
  90% {
    clip: rect(82px, 9999px, 98px, 0);
    transform: skew(0.84deg);
  }
  95% {
    clip: rect(50px, 9999px, 17px, 0);
    transform: skew(0.86deg);
  }
  100% {
    clip: rect(15px, 9999px, 32px, 0);
    transform: skew(0.93deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(63px, 9999px, 55px, 0);
    transform: skew(0.41deg);
  }
  5% {
    clip: rect(8px, 9999px, 75px, 0);
    transform: skew(0.55deg);
  }
  10% {
    clip: rect(66px, 9999px, 10px, 0);
    transform: skew(0.3deg);
  }
  15% {
    clip: rect(23px, 9999px, 54px, 0);
    transform: skew(0.61deg);
  }
  20% {
    clip: rect(19px, 9999px, 47px, 0);
    transform: skew(0.79deg);
  }
  25% {
    clip: rect(87px, 9999px, 15px, 0);
    transform: skew(0.35deg);
  }
  30% {
    clip: rect(3px, 9999px, 16px, 0);
    transform: skew(0.1deg);
  }
  35% {
    clip: rect(5px, 9999px, 95px, 0);
    transform: skew(0.99deg);
  }
  40% {
    clip: rect(56px, 9999px, 94px, 0);
    transform: skew(0.12deg);
  }
  45% {
    clip: rect(19px, 9999px, 44px, 0);
    transform: skew(0.67deg);
  }
  50% {
    clip: rect(69px, 9999px, 93px, 0);
    transform: skew(0.72deg);
  }
  55% {
    clip: rect(26px, 9999px, 35px, 0);
    transform: skew(0.29deg);
  }
  60% {
    clip: rect(83px, 9999px, 32px, 0);
    transform: skew(0.78deg);
  }
  65% {
    clip: rect(42px, 9999px, 68px, 0);
    transform: skew(0.81deg);
  }
  70% {
    clip: rect(41px, 9999px, 30px, 0);
    transform: skew(0.49deg);
  }
  75% {
    clip: rect(100px, 9999px, 40px, 0);
    transform: skew(0.61deg);
  }
  80% {
    clip: rect(86px, 9999px, 68px, 0);
    transform: skew(0.2deg);
  }
  85% {
    clip: rect(38px, 9999px, 27px, 0);
    transform: skew(0.47deg);
  }
  90% {
    clip: rect(73px, 9999px, 13px, 0);
    transform: skew(0.61deg);
  }
  95% {
    clip: rect(11px, 9999px, 47px, 0);
    transform: skew(0.23deg);
  }
  100% {
    clip: rect(11px, 9999px, 53px, 0);
    transform: skew(0.58deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-1deg);
  }
  10% {
    transform: skew(-4deg);
  }
  20% {
    transform: skew(5deg);
  }
  30% {
    transform: skew(-1deg);
  }
  40% {
    transform: skew(-2deg);
  }
  50% {
    transform: skew(2deg);
  }
  60% {
    transform: skew(-3deg);
  }
  70% {
    transform: skew(0deg);
  }
  80% {
    transform: skew(-1deg);
  }
  90% {
    transform: skew(4deg);
  }
  100% {
    transform: skew(-4deg);
  }
}